
h1 {
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 50px;
	text-align: center;
}

#annonce{
	font-family: 'Sedgwick Ave Display', cursive;
	text-align: center;
}

table{
	width: 50%;
	height: 50%;
	position: absolute;
	margin-left: 25%;
	margin-top: 50px;
}

td {
	border: 2px solid #121212;
	height: 50px;
	width: 50px;
}
